---
// import { PAGE_TITLE_ID } from '@astrojs/starlight/constants';

const { title, authors, abstract, subtitle } = Astro.locals.starlightRoute.entry.data;
import { Icon } from '@astrojs/starlight/components';
import {micromark} from 'micromark';
import {math, mathHtml} from 'micromark-extension-math';
function parseAbstract(abstract) {
let x = micromark(abstract, { extensions: [math()], htmlExtensions: [mathHtml()]})
  return x.replaceAll('<p>', '<p style="margin-top: 0.5rem;">')
}

const parsedAbstract = abstract ? parseAbstract(abstract) : undefined
---
<!-- Get the latest one from: https://katex.org/docs/browser -->
<link href="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.css" rel="stylesheet">
<h1 id="_top">{Astro.locals.starlightRoute.entry.data.title}</h1>

{
subtitle && (
<h2 class="subtitle">{subtitle}</h2>
)
}


{
authors && (
  <table>
    {authors.map(x => (
      <tr>
        <td class="leftmost">{x.name}</td>
        { x.email ? (<td><Icon name="email" /><code>{x.email}</code></td>): (<td></td>)}
      </tr>
    ))}
  </table>
  )
}

{
abstract && (
<>
<h4 class="abstract-header">Abstract</h4>
<Fragment set:html={parsedAbstract}>
</>
)
}

<style>
  h2.subtitle { 
    margin-top: 0;
  }
	h1 {
		margin-top: 1rem;
		font-size: var(--sl-text-h1);
		line-height: var(--sl-line-height-headings);
		font-weight: 600;
		color: var(--sl-color-white);
	}

  td.leftmost {
    padding-right: 20px;
  }

  h4.abstract-header { 
    margin-bottom: 0;
  }
</style>
